<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${csfull}"> City </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes">
    <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32" />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel="shortcut icon" type="image/png" href="/images/favicon-16x16.png">
    <link rel="stylesheet" type="text/css" href="/css/site.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,900&display=swap" rel="stylesheet">
</head>
<body>


<div class="page">

    <header>
        <a href="/"><img class="logo" src="/images/logo.svg"/></a>
    </header>

    <div class="menu">
        <ul>
            <li><strong>Menu</strong></li>
            <li><a href="/">Home</a></li>
            <li><a href="/cities">View all cities</a></li>
            <li><a href="/citylogs/Dallas/TX">Dallas TX</a></li>
        </ul>
    </div>

    <div class="main">
        <h1>Logs for
            <span th:text="${csfull}"></span>
        </h1>

        <table>

            <tr>
                <th>City</th>
                <th>State</th>
                <th>Timestamp</th>
                <th>Device</th>
                <th>Value</th>
            </tr>

            <tr th:if="${logs.isEmpty}">
                <td colspan="5"> No logs available </td>
            </tr>

            <tr th:each="l,iterator:${logs}">
                <td><span th:text="${l.city}"> ... </span></td>
                <td><span th:text="${l.state}"> ... </span></td>
                <td><span th:text="${l.added}"> ... </span></td>
                <td><span th:text="${l.deviceid}"> ... </span></td>
                <td><span th:text="${l.value}"> ... </span></td>
            </tr>
        </table>

    </div>

    <footer>
        Kara.io &#169; 2020
        <a href="/">About</a> |
        <a href="/">Blog</a> |
        <a href="/">Team</a> |
        <a href="/">Careers</a>
    </footer>

</div>
</body>
</html>