<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kara.io</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/site.css" />
</head>
<body>


    <div class="page">

        <header>
            <a href="/"><img class="logo" src="/images/logo.svg"/></a>
        </header>

        <div class="menu">
            <div><strong>Menu</strong></div>
            <div><a href="/">Home</a></div>
            <div><a href="/cities">View all cities</a></div>
            <div><a href="/citylogs/Dallas/TX">Dallas TX</a></div>
        </div>

        <div class="main">
            <h1>Welcome to Kara.io</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis sem cursus ligula imperdiet ultrices. Vestibulum vel quam in tellus laoreet pharetra eu ac diam. Donec id eros non leo consequat faucibus. Praesent sollicitudin nulla justo, sit amet scelerisque turpis euismod vel. Fusce nisl nunc, sagittis a arcu vel, lacinia sodales nibh. Nunc tempor mattis elit non accumsan. Proin fermentum quis lectus eu ultrices.</p>
            <p>Pellentesque mollis, enim nec vulputate tempus, odio tortor rutrum nibh, id consequat diam neque ac nulla. Duis feugiat malesuada diam, id pretium velit placerat ac. Suspendisse eget urna ac diam sollicitudin tincidunt sed non ex. Aenean dictum dolor lorem, at congue purus iaculis at. Suspendisse elit lorem, interdum vel turpis sed, elementum lacinia ex. Nunc aliquet ut erat et viverra. Nulla luctus venenatis neque, non tincidunt metus vestibulum ac. Proin vel risus sapien. Quisque dapibus, risus vel luctus aliquet, turpis quam convallis dolor, et mollis ex turpis vel dolor. Etiam a cursus lorem. Duis venenatis ligula ut erat sodales, eu pharetra ante aliquam. Pellentesque ut mauris congue risus congue eleifend. Phasellus nisl ipsum, pulvinar eu pellentesque ut, accumsan ut nisi. Duis arcu nibh, vehicula id molestie et, fermentum quis tortor. Mauris ultrices magna at mauris viverra finibus.</p>
            <p>Sed sit amet neque vel orci blandit iaculis nec eget purus. Proin quis libero nec nisi aliquet laoreet. Praesent suscipit eros justo, eget luctus enim mollis ut. Suspendisse placerat lectus et ipsum aliquet, vitae pretium est ultricies. Ut iaculis feugiat neque in pulvinar. Donec in nulla ut dolor placerat bibendum eu eget nisl. Sed quis justo ligula. In odio arcu, rutrum ac varius vitae, vehicula a erat. Morbi aliquam tellus et suscipit malesuada. Proin efficitur volutpat accumsan.</p>
            <p>Nullam non maximus quam. Mauris placerat, enim nec tincidunt gravida, erat nisl blandit ex, et scelerisque ante libero eu magna. Aenean posuere neque neque, id mollis tellus feugiat et. Nulla facilisi. Mauris at rutrum libero, molestie condimentum justo. In in lectus ac orci euismod placerat. Suspendisse felis tortor, fringilla eget rutrum ut, efficitur id nisi. Cras vel venenatis libero.</p>
            <p>Ut lacus magna, mattis id purus in, posuere luctus ligula. Nullam tempus pharetra magna, ut malesuada quam interdum non. Suspendisse mi est, accumsan at maximus at, viverra a nisl. Vestibulum diam ligula, sollicitudin ut dui quis, bibendum malesuada augue. Pellentesque in tempor quam. Quisque eu pellentesque sapien, in pharetra magna. Etiam hendrerit, augue maximus egestas ultrices, quam tellus fermentum arcu, at aliquet libero quam imperdiet tellus. Phasellus cursus felis eget elementum laoreet. Integer in sagittis nunc. Proin at cursus massa. Donec ullamcorper velit ac sem faucibus, eu maximus ligula malesuada. Mauris lacinia aliquet fringilla. Aenean vulputate id ipsum vel cursus. Praesent suscipit placerat porta. Suspendisse eu purus ut elit gravida laoreet. Integer nec enim ut massa rhoncus aliquet.</p>

        </div>

        <footer>
            Kara.io &#169; 2020
            <a href="/">About</a> |
            <a href="/">Blog</a> |
            <a href="/">Team</a> |
            <a href="/">Careers</a>
        </footer>

    </div>
</body>
